
.waves{

    position: relative;
    // background-color: $footer;
    // z-index: 50;
    .waves_bg-color{
        width: 100%;
        height: 70%;
        background: $circle-color;
        position: absolute;
        top: 0;
    }

    .wave{
        height: 100%;
        width: 300%;
        position: absolute  ;
        top: 0px;
        left: 0px;
        right: 0px;
        background-image: url(../../../public/assets/info-background.svg);
        background-repeat: repeat-x;
        background-position: bottom;

    }

    .w1{
        position: absolute;
        animation: w1 300s linear infinite;
    }

    @keyframes w1 {
        0%{
            margin-left: 0px;
        }
        100%{
            margin-left: -1399px;
        }
    }

    .wave__body{
        color: $soft-white;
        position: absolute;
        // z-index: 2;

        h1{
            font-size: 64px;
            -webkit-text-stroke: 3px black;
        }
        
        p {
            font-size: 45px;
            -webkit-text-stroke: 2px black;
        }
        
        .wave__list{
            list-style: square inside;
            font-size: 30px;
            -webkit-text-stroke: 1px black;
        }
    }

    .container{
        top: 5%;
        left: 10%;
        right: 10%;
    }

    @media (max-width: 1300px) and (min-width: 900px), (max-height: 768px) {
        .container{
            top: 5%;
            left: 10%;
            right: 10%;
        }
        .wave__body{
            color: $soft-white;
            position: absolute;
            // z-index: 2;
    
            h1{
                font-size: 40px;
                -webkit-text-stroke: 1.5px black;
            }
            
            p {
                font-size: 35px;
                -webkit-text-stroke: 1px black;
            }
            
            .wave__list{
                list-style: square inside;
                font-size: 25px;
                -webkit-text-stroke: 0.5px black;
            }
        }
    }

    @media (max-width: 900px) and (min-width: 500px) , (max-height: 630px) and (min-height:450px){
        .container{
            top: 5%;
            left: 5%;
            right: 5%;
        }
        .wave__body{
            color: $soft-white;
            position: absolute;
            // z-index: 2;
    
            h1{
                font-size: 35px;
                -webkit-text-stroke: 1.5px black;
            }
            
            p {
                font-size: 27.5px;
                -webkit-text-stroke: 1px black;
            }
            
            .wave__list{
                list-style: square inside;
                font-size: 20px;
                -webkit-text-stroke: 0.5px black;
            }
        }
    }
    @media (max-height: 450px), (max-width: 500px) and (min-width: 100px)  {
        .container{
            top: 5%;
            left: 5%;
            right: 5%;
        }
        .wave__body{
            color: $soft-white;
            position: absolute;
            // z-index: 2;
    
            h1{
                font-size: 25px;
                -webkit-text-stroke: 1.5px black;
            }
            
            p {
                font-size: 20px;
                -webkit-text-stroke: 1px black;
            }
            
            .wave__list{
                list-style: square inside;
                font-size: 15px;
                -webkit-text-stroke: 0.5px black;
            }
        }
    }
}



