
ul{
    // list-style: none;
    margin: 0;
    padding: 0;
}

a{
    color: $text-color;
    text-decoration: none;
}

.navbar{
    height: $nav-size;
    background-color: $bg-topbar;
    padding: 0 1rem;
    border-bottom: $border;
    // position: fixed;
    top: 0;
    // width: 100vw;
    // opacity: 0.5;
}

.navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav-item{
    width: calc($nav-size * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button{

    width: $button-size;
    height: $button-size;
    background-color: $circle-background;
    border-radius: 40%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;

    &:hover{
        filter: brightness(1.2);
    }

    svg{
        fill: $text-color;
        width: 20px;
        height: 20px;
    }
}

// Dropdown Menu
.dropdown{
    position: absolute;
    background-color: aquamarine;
    top: 58px;
    width: 300px;
    transform: translateX(-45%);
    background-color: $bg-topbar;
    border-radius: $border-radius;
    padding: 1rem;
    overflow: hidden;

    transition: height $speed ease;

}

.menu-item{
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: $border-radius;
    transition: background $speed;
    padding: 0.5rem;

    &:hover{
        background-color: $circle-background;
    }
}

.icon-right{

    margin-left: auto;
}

.menu{
    width: 100%;
}

.menu-primary-enter{
    position: absolute;
    transform: translateX(-110%);
}

.menu-primary-enter-active{
    transform: translateX(0%);
    transition: all $speed ease;
}

.menu-primary-exit{
    position:absolute
}

.menu-primary-exit-active{
    transform: translateX(-110%);
    transition: all $speed ease;
}


.menu-secondary-enter{
    transform: translate(100%)
}

.menu-secondary-enter-active{
    transform: translateX(0%);
    transition: all $speed ease;
}

.menu-secondary-exit{
    
}

.menu-secondary-exit-active{
    transform: translateX(110%);
    transition: all $speed ease;
}