.intro{
    background-color: $background;
    display: flex;


    @include mobile{
        flex-direction: column;
        align-items: center;
    }

    
    .intro__left{
        padding-top: 5vh;
        overflow: hidden;
        
        flex: 0.5;
        
        .intro__imageContainer{
            background-color: $circle-color;
            border-radius: 50%;
            width: 700px;
            height: 700px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: right;

            @include mobile{
                align-items: flex-start;
            }

            img{
                width: 100%;
                height: 90%;
                
                @include mobile{
                    height: 50%;
                    width: 50%;
                }
            }
        }
    }
    
    .intro__right{
        flex: 0.5;
        background-color: $background;
        position: relative;

        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile{
                padding-left: 0;
                align-items: center;
                justify-content: start;
                // background-color: $footer;
            }

        }

        h1{
            font-size: 65px;
            margin:10px 0;

            @include mobile{
                font-size: 55px;
            }
        }

        h2{
            font-size: 35px;
            @include mobile{
                font-size: 32.5px;
            }
        
        }
        h3{
            font-size: 30px;

            span{
                font-size: inherit;
                color: $footer;
                // overflow-x: visible;
            }

            .ityped-cursor{
                animation: blink 1s infinite;
            }

            @keyframes blink {
                50%{
                    opacity: 1;
                }
                100%{
                    opacity: 0;
                }
            }
        }
        a{
            position:absolute;
            bottom: 10px; 
            left: 50%;
            img{
                width: 30px;
                animation: arrowBlink 2s infinite; 
            }

            @keyframes arrowBlink {
                100%{
                    opacity: 0;
                }
            }
        }
    }

}