.menu__menu{
    
    width: 300px;
    height: 100vh;
    background-color: $soft-white;
    
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: all 0.5s ease-in-out;

    &.active{
        right: 0;
    }

    ul {
        margin: 0;
        padding: 0;
        // list-style: none;
        font-size: 25px;
        font-weight: 500;
        color: $secondary-dark;
        li{
            margin-bottom: 20px;
            a{
                font-size: inherit;
                color:inherit;
                text-decoration: none;
            }

            &:hover{
                a{
                    color: $footer;
                }
            }
        }
    }
}