
.waves{

    position: relative;
    background-color: $footer;
    // z-index: 50;a
    .waves_bg-color{
        width: 100%;
        height: 70%;
        background: $circle-color;
        position: absolute;
        top: 0;
    }

    .wave{
        height: 90%;
        width: 300%;
        position: absolute  ;
        top: 0px;
        left: 0px;
        right: 0px;
        background-image: url(../../../public/assets/wave.svg);
        background-position: bottom;

    }

    .w1{
        position: absolute;
        animation: w1 100s linear infinite;
    }

    @keyframes w1 {
        0%{
            margin-left: 0px;
        }
        100%{
            margin-left: -1399px;
        }
    }

    .wave__body{
        color: $soft-white;
        position: absolute;
        // z-index: 2;

        h1{
            font-size: 45px;
        }

        p {
            font-size: 30px;
        }

        .wave__list{
            list-style: square inside;
            font-size: 23px;
        }
    }

    .container{
        top: 5%;
        left: 20%;
        right: 20%;
    }
}



