@import './base/settings';
@import './base/base';


@import './components/topbar';
@import './components/intro';
@import './components/menu';
@import './components/waves';
@import './components/contact';
@import './components/projects';
@import './components/skills';
@import './components/card';
@import './components/portfolio';
@import './PortfolioApp.scss';

@import './components/hobbies';
@import './components/hotbar';