// Colors 
$background: #F6F6E9;
$dark-grey: #363636;
$light-grey: #e6e6e6;
$primary: #5c8bc0;
$secondary: #394a7e;
$secondary-dark: #1e2743;
$circle-color: #005792;
$footer: #FD5F00;

//Google
$white: #fff;
$soft-white: #F9F7F7;
$google-blue: #4285f4;
$button-active-blue: #1669f2;