// Colors 
$background: #F6F6E9;
$dark-grey: #363636;
$light-grey: #e6e6e6;
$primary: #5c8bc0;
$secondary: #394a7e;
$secondary-dark: #13334C;
$circle-color: #005792;
$footer: #FD5F00;

//Google
$white: #fff;
$soft-white: #F9F7F7;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

// Colores para la main bar
$bg-topbar: #13334C;
$bg-accent: #005792;
$text-color: #dadce1;
$nav-size: 70px;
$border: 1px solid #474a4d;
$border-radius: 8px;
$speed: 500ms;
$circle-background: #18405f;
$button-size: calc($nav-size * 0.5);


//Responsive
$responsive-width: 768px;

@mixin mobile {
    @media (max-width: #{$responsive-width}){
        @content
    }
}